doctype html
html
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet' href='static/pure.css')
    link(rel='stylesheet' href='static/main.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    script(src="static/script.js")
body
  div(class="layout")
    div(class="pure-menu pure-menu-horizontal")
      //a(href="#" class="pure-menu-heading pure-menu-link") Details
      ul(class="pure-menu-list")
        li(class="pure-menu-item tabs")
          a(href="#" class="pure-menu-link") Server
        li(class="pure-menu-item tabs")
          a(href="#" class="pure-menu-link") Admin
        li(class="pure-menu-item tabs")
          a(href="#" class="pure-menu-link") Settings
