doctype html
html
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet' href='static/pure.css')
    link(rel='stylesheet' href='static/main.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    script(src="static/script.js")
body
    div(class="layout")
        a(href="#" id="menuLink" class="menu-link")
            //Hamburger icon
            span
        div(id="menu")
            div(class="pure-menu")
                a(class="pure-menu-heading" href="#") Factorio Multi Panel
                div(class="pure-menu")
                    ul(class="pure-menu-list")
                        li(class="pure-menu-item")
                            a(class="pure-menu-link" onclick="confim()" href="#") Add new server
                                span(style="float:right; margin-right:10px")
                                    i(class="material-icons" style="font-size:100%;") add
            div(class="pure-menu pure-menu-scrollable custom-restricted")
                ul(class="pure-menu-list" style="background-color: rgb(100, 100, 100);")
                    - if (servers.length == 0)
                        li(class="pure-menu-item")
                            a(class="pure-menu-link" href="#") No servers found.
                    - else
                       each server in servers
                           li(class="pure-menu-item server")
                               a(class="pure-menu-link" onclick="loadServer("+server.id+")" href="#")= server.conf.name
            div(id="sysInfo" class="sysInfo")
                span(id="info")
                    a(href="#" onclick="hide()")
                        i(class="material-icons" style="float:right;margin-right: 15px;") clear
    iframe(class="content" id="content")
